In [ ]:
pip install koreanize-matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.0.1-py3-none-any.whl (2.5 MB)
     |████████████████████████████████| 2.5 MB 5.2 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from koreanize-matplotlib) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->koreanize-matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->koreanize-matplotlib) (1.15.0)
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.0.1

In [ ]:
import matplotlib.pyplot as plt
import koreanize_matplotlib
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline

In [ ]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/online_oversea_sale_202210.csv.zip", 
    encoding="cp949")

In [ ]:
print(df.shape)
df.head()

(2772, 5)

  국가(대륙)별        상품군별   판매유형별        시점   데이터
0      미국  컴퓨터 및 주변기기  면세점 이외  2017.1/4  1054
1      미국  컴퓨터 및 주변기기  면세점 이외  2017.2/4   946
2      미국  컴퓨터 및 주변기기  면세점 이외  2017.3/4   791
3      미국  컴퓨터 및 주변기기  면세점 이외  2017.4/4   854
4      미국  컴퓨터 및 주변기기  면세점 이외  2018.1/4  2033

In [ ]:
df.describe(include="object")

       국가(대륙)별        상품군별   판매유형별        시점
count     2772        2772    2772      2772
unique       9          14       1        22
top         미국  컴퓨터 및 주변기기  면세점 이외  2017.1/4
freq       308         198    2772       126

In [ ]:
df["판매유형별"].value_counts()

면세점 이외    2772
Name: 판매유형별, dtype: int64

# Q1. 데이터 컬럼을 단위인 "백만"으로 변경해 주세요.
describe() 로 기술통계를 구했을 때 다음과 같은 결과가 나오도록 합니다. 아래 결과는 예시로 소숫점 자리수가 다르게 표시되더라도 값이 같다면 괜찮습니다.
전처리한 백만, 연도, 분기 컬럼이 수치형 데이터 일 때 아래와 같은 결과가 나오니 데이터가 수치 형태로 되어 있는지도 확인해 주세요!
데이터는 위에서 제공된 데이터를 사용합니다.
해당 기술통계로 알 수 있는 정보가 무엇인지도 함께 작성해 주세요!

In [ ]:
df['연도'] = df['시점'].map(lambda x : int(x.split('.')[0]))
df['분기'] = df['시점'].map(lambda x : int(x.split('.')[1].split('/')[0]))
df['백만'] = df['데이터']

In [ ]:
df_new = df[['백만', '연도', '분기']]

In [ ]:
df_new.describe()

                 백만           연도           분기
count   2772.000000  2772.000000  2772.000000
mean    1613.116522  2019.272727     2.409091
std     4273.426107     1.600909     1.114533
min   -10003.000000  2017.000000     1.000000
25%       41.750000  2018.000000     1.000000
50%      291.500000  2019.000000     2.000000
75%     1181.000000  2021.000000     3.000000
max    47689.000000  2022.000000     4.000000

# Q2. 국가(대륙)별 연도별 판매액의 합계를 구해서 어느 지역에 판매액이 많은지를 알아보겠습니다.
pivot_table 을 사용하여 다음의 결과를 구하고 시각화 해주세요!
그래프의 색상, 스타일은 자유롭게 원하는 스타일로 지정해도 됩니다.

In [ ]:
df.pivot_table(index="국가(대륙)별", columns="연도", values="백만", aggfunc="sum")

연도            2017    2018    2019    2020    2021    2022
국가(대륙)별
기타           41571   36141   40950   44438   57959   19501
대양주          18989   17520   13191   16255   16841    5044
미국          142292  156312  186617  255384  277579  103416
아세안(ASEAN)   66163   76450   82930  105360   94150   38072
유럽연합(EU)     31068   36826   39008   39865   32349    9019
일본          125442  178094  189330  220730  280029  131771
중국          167240  182068  210418  289446  194380   98572
중남미          10245   11669   12981   12563    8298    2629
중동            8030    8019    9325   11467    6164    1389

# Q3. 2020년은 코로나로 인해 전국민이 어려움을 겪었던 시기입니다. 또, 아마존 등의 해외 온라인 판매가 늘어난 시기이기도 합니다. 이 때, 해외 어느지역에 온라인 판매가 얼마나 되었는지를 groupby() 와 unstack()을 활용해서 합계를 구하고 분석해 주세요! 또 분석한 결과를 보고 어떤 인사이트를 얻었는지도 함께 작성해 주세요!
그래프의 색상, 스타일은 자유롭게 원하는 스타일로 지정해도 됩니다.

In [ ]:
df_2020 = df[df['연도']==2020]

In [ ]:
df_2020

     국가(대륙)별          상품군별   판매유형별        시점   데이터    연도  분기    백만
12        미국    컴퓨터 및 주변기기  면세점 이외  2020.1/4  1182  2020   1  1182
13        미국    컴퓨터 및 주변기기  면세점 이외  2020.2/4  1631  2020   2  1631
14        미국    컴퓨터 및 주변기기  면세점 이외  2020.3/4  1871  2020   3  1871
15        미국    컴퓨터 및 주변기기  면세점 이외  2020.4/4  1373  2020   4  1373
34        미국    가전·전자·통신기기  면세점 이외  2020.1/4  1818  2020   1  1818
...      ...           ...     ...       ...   ...   ...  ..   ...
2743      기타  생활용품 및 자동차용품  면세점 이외  2020.4/4   392  2020   4   392
2762      기타           기 타  면세점 이외  2020.1/4   939  2020   1   939
2763      기타           기 타  면세점 이외  2020.2/4   710  2020   2   710
2764      기타           기 타  면세점 이외  2020.3/4   826  2020   3   826
2765      기타           기 타  면세점 이외  2020.4/4   870  2020   4   870

[504 rows x 8 columns]

In [ ]:
plt.figure(figsize=(10,10))
df_2020.groupby('국가(대륙)별')['백만'].sum()

국가(대륙)별
기타             44438
대양주            16255
미국            255384
아세안(ASEAN)    105360
유럽연합(EU)       39865
일본            220730
중국            289446
중남미            12563
중동             11467
Name: 백만, dtype: int64

2020년의 온라인 해외판매액은 중국이 가장 높았으며, 그 뒤로는 미국, 일본, 아세안 순이다.

# Q4. 온라인 직접 판매액이 높은 지역은 "미국", "중국", "일본" 이며, 주요 판매 상품군은 "의류 및 패션 관련상품", "화장품", "음반·비디오·악기" 입니다. 2021년까지의 각 지역별 제품별 판매액을 시각화 해주세요!
시각화 결과의 색상이나 스타일이나 스타일은 달라도 괜찮습니다.

In [ ]:
df_new2 = df[(df['국가(대륙)별']=='미국') | (df['국가(대륙)별']=='중국') | (df['국가(대륙)별']=='일본')]
df_new2 = df_new2[(df_new2['상품군별']=='의류 및 패션 관련상품') | (df_new2['상품군별']=='화장품') | (df_new2['상품군별']=='음반·비디오·악기')]
df_new2 = df_new2[df_new2['연도']<2022]

In [ ]:
sns.relplot(data=df_new2, x='연도', y='백만', hue='상품군별', col='국가(대륙)별', kind="line", ci=None)

NameError: ignored